{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}

    {{ include('post/_form.html.twig') }}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <a class="btn btn-primary float-right" href="{{ path('home') }}">back to list</a>
            </div>
        </div>
    </div>

{% endblock %}
